*{
    padding: 0px;
    margin: 0px;
}
#hiding{
    text-decoration: solid;
    text-decoration: underline;
    background-image: linear-gradient(to right,red,green,yellow);
    margin-bottom: 5px;
}
#box-1{
    width: 800px;
    border-style: solid;
    border-color: red;
    border-radius: 20px;
    background-color: skyblue;
    text-align: center;
    margin: auto;
    height: 80px;
}
#box-2{
    background-color: #70f7cf;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 20px;
    padding: 0px 1rem;
    border: 2px solid green;
    margin-bottom: 5px;
}
.box{
    background-color: #62fbfd;
    display: inline-block;
    border: 2px solid pink;
    border-radius: 5px;
    height: min-content;
    width: auto;
}
#heading{
    background-image:linear-gradient(45deg, red,yellow,red);
    margin: 20px 0px;
    padding-bottom: 1.3rem;
    display: flex;
    justify-content:center;
}
#bit{
    background-image:radial-gradient(#1d3cf3,#56cd6c);
    border:1.5px solid black;
    padding: 7rem 10rem 7rem 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}
.soul{
    width: 10rem;
    background-color: #fef847;
    color: #852e00;
    border:2px solid #852e00;
    border-radius:10px ;
    line-height: 1.7rem;
    padding:0px 1.5rem 1rem 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    }
#handson4{
    color: white;
    margin: 2rem 0rem;
    border: 2px solid grey;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 2rem 4rem 6rem 1.2rem;
   }
#form1{
    text-align: center;
    font-size: 18px;
    background-color: #e73847;
    grid-column: 1/-1;
    }
#form2{
    font-size: 1.9rem;
    height: min-content;
    text-align: center;
    background-color: #57d169;
    grid-column: 1/2;
    }
#form3{
    font-size: 1.9rem;
    height: min-content;
    background-color: #2583f7;
    grid-column: 2/3;
}
#form4{
    font-size: 1.3rem;
    height: min-content;
    background-color: #4847ea;
    grid-column: 3/4;
}
#form5{
    background-color:#292d37 ;
    grid-column: 4/5;
    grid-row: 2/4;
}
#form6{
    font-weight: bold;
    background: #f29937;
    grid-column: 1/4;
}
#form5 ol{
    padding-left: 1.3rem;
    }
#form7{
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    background-color: #50cccd;
    grid-column: 1/5;
}
@media only screen and (max-width:1154px){
    #box-1 li{
        padding-left: 0rem;
    }
    #box-1{
        margin: 0px 10rem;
    }
}
@media only screen and (max-width:440px){
    #box-1 li{
        padding-left: 0rem;
    }
    #box-1{
        margin: 0px 6rem;
    }
}